html {
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Helvetica;
    text-decoration: none;
    font-size: 100%;
}

body {
    background-color: #e5e5f7;
    opacity: 1;
    background: repeating-linear-gradient(45deg, #355580, #355580 20px, #e5e5f7 20px, #e5e5f7 100px);
}

.app-bar {
    z-index: 99;
    position: fixed;
    display: flex;
    justify-items: center;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 56px;
    background-color: #20344F;
}

.logo {
    height: 100%;
    width: 4%;
}

.navigation {
    height: 10vh;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0px 50px;
}

.navigation li {
    padding: 19px 0px;
    transition: 0.5s;
}

.navigation a {
    text-transform: uppercase;
    background-color: transparent;
    padding: 20px;
    color: #ffffff;
}

.navigation li:hover {
    background-color: #162436;
}

.navigation li {
    list-style-type: none;
}

li {
    transition: 1s;
}

li:hover {
    font-size: 16.2px;
    font-weight: bold;
    letter-spacing: 2px;
}



.welcome {
    height: 120vh;
    display: flex;
    justify-items: center;
    align-items: center;
    justify-content: space-evenly;
    background-color: transparent;
}

.welcome-banner {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 80vw;
    border: 2px solid black;
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
    backdrop-filter: blur(30px);
    -webkit-backdrop-filter: blur(30px);
    border-radius: 20px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
}

.welcome-left-side {
    width: 35vw;
    display: flex;
    justify-items: center;
    align-items: flex-start;
    flex-direction: column;
    color: #3b3b3b;
}

.cellphonescreen {
    height: 590px;
    width: 300px;
    border-radius: 20px;
}

.main-tittle {
    font-size: 65pt;
    margin-bottom: 20px;
    color: black;
}

.welcome-text {
    font-weight: 100;
    font-size: 30pt;
}

.welcome-text {
    margin-bottom: 60px;
}

.download-button {
    padding: 20px 50px;
    border: 1px solid #000000;
    border-radius: 55px;
    background-color: transparent;
    color: #000000;
    transition: 0.5s;
    cursor: pointer;
    font-size: 15pt;
}

.download-button:hover {
    border: 1px solid #20344F;
    color: #ffffff;
    background-color: #20344F;
}

.download-button-text {
    font-size: 15px;
}

.welcome-right-side {
    width: 30vw;
    display: flex;
    justify-items: center;
    justify-content: center;
    align-items: center;
}

.app {
    height: 85vh;
    background-color: #355580;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.app-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 50px;
    color: #ffffff;
}

.app-st-text {
    font-size: 50pt;
    margin-bottom: 20px;
    font-weight: 500;
}

.app-nd-text {
    font-size: 15pt;

}

.app-button-field a {
    margin: 0px 20px;
}

.icon {
    height: 100px;
}

.about-us {
    height: 110vh;
    display: flex;
    justify-items: center;
    align-items: center;
    justify-content: space-evenly;
    background-color: transparent;
    flex-direction: column;
}

.about-us-banner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 50px;
    height: 90vh;
    width: 80vw;
    border: 2px solid black;
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
    backdrop-filter: blur(30px);
    -webkit-backdrop-filter: blur(30px);
    border-radius: 20px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    box-shadow: 0 8px 32px 0 rgba(1, 1, 1, 1);
}

.about-us-tittle {
    font-size: 50pt;
    font-weight: bold;
    margin-bottom: 30px;
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.about-us-text {
    font-size: 15pt;
    margin-bottom: 10pt;
}

.wrap-btn {
    position: absolute;
    right: 100px;
    bottom: 40px;
}

.contact-button {
    padding: 17px 45px;
    border: 1px solid #000000;
    border-radius: 35px;
    background-color: transparent;
    color: #000000;
    transition: 0.5s;
    cursor: pointer;
    font-size: 15pt;
}

.contact-button:hover {
    border: 1px solid #20344F;
    color: #ffffff;
    background-color: #20344F;
}

.contact-button-text {
    font-size: 13px;
    font-weight: 600;
}



.services {
    height: 120vh;
    background-color: #355580;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.service-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 50px;
    color: #ffffff;
}

.service-tittle {
    font-size: 40pt;
    font-weight: 100;
    margin-bottom: 10pt;

}

.service-subtittle {
    font-size: 15pt;
    font-weight: 100;
    margin-bottom: 30pt;


}




.cellphonescreen02 {
    height: 590px;
    width: 300px;
    margin-right: 50px;
    border-radius: 20px;
}



.service-content {
    justify-content: space-between;

    display: flex;
    align-items: center;
}

.service-card {

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 200px;
    background-color: #20344f;
    border-radius: 20px;
    max-width: 250px;
    align-items: center;
    text-align: center;
    margin: 0 100px 30px 0;
}

.two-cards {
    display: flex;
}

.service-card-attendance {
    height: 80px;
    width: 80px;
    margin-bottom: 10px;
}

.service-card-dailyreport {
    height: 95px;
    width: 95px;
    margin-bottom: 10px;
}

.service-card-text {
    font-size: 20px;
}

.service-card-doctor {
    height: 80px;
    width: 80px;
    margin-bottom: 10px;
}

.service-card-phonecall {
    height: 75px;
    width: 75px;
    margin-bottom: 10px;
}

.contact {
    height: 120vh;
    display: flex;
    justify-items: center;
    align-items: center;
    justify-content: space-evenly;
    background-color: #191919;
}

h1,
h2 {
    font-size: 3rem;
    color: #fff;
    margin-bottom: 2rem;
    text-align: center;
    line-height: 1.2;
}

.contact-icon {

    height: 150px;
    width: 150px;
}

.contact-title {
    content: "📧";
    display: block;
}

h2::before {
    content: "🐅";
    display: block;
}

.form {
    width: 100%;
    max-width: 32rem;
    font-size: 1.125rem;
}

.form label,
.form input,
.form textarea,
.form button {
    display: block;
    width: 100%;
}

.form label {
    color: #fff;
    line-height: 1;
    margin-bottom: 0.5rem;
}

.form input,
.form textarea {
    font: inherit;
    padding: 0.8rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: 8px;
    transition: border-color, box-shadow 0.2s;
}

.form textarea {
    min-height: 13rem;
    resize: vertical;
}

.form input:hover,
.form input:focus,
.form textarea:hover,
.form textarea:focus {
    outline: none;
    border-color: #09d;
    box-shadow: 0 0 0 3px #4dc8ff;
}

.form button {
    display: block;
    padding: 1rem;
    background: #0072c4;
    color: #fff;
    font: inherit;
    text-transform: uppercase;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.2s;
}

.form button:hover,
.form button:focus {
    outline: none;
    background: #09d;
}

/* 

Texto       {#3b3b3b}
Azul-ll     {#3478AC}
Azul-l      {#2F7DA4}
Azul-m      {#213550}
Azul-h      {#20344F}

*/